@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

body {
   background-color: rgba(127, 255, 212, 0.357);
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   line-height: 1.5;
}

h1.heading-main {
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 65px;
   line-height: 1.25;
   letter-spacing: -2px;
   text-align: center;
   text-shadow: 2px 5px 5px rgba(220, 20, 60, 0.775);
   max-width: 1000px;
   padding-top: 5px;
   padding-right: 50px;
   padding-bottom: 15px;
   padding-left: 50px;
   margin: 0 auto 20px;
}

h2 {
   font-weight: 700;
   font-style: italic;
   font-size: 25px;
   text-indent: 70px;
}

.attention {
   padding: 1%;
   margin: 20px 50px;
   background-color: rgba(47, 79, 79, 0.111);
}

.about {
   max-width: 600px;
   padding: 0px 50px 30px 0px;
   margin: 0 0 0 auto;
   text-align: right;
}

a {
   color: dodgerblue;
   text-decoration: underline;
   font-style: italic;
   font-weight: 700;
}

a.humor {
   display: inline-block;
   font-size: 30px;
   padding: 100px 0 0 200px;
   margin: 0 0 0 auto;
}

main img {
   width: 85%;
   margin: 0 0 35px 0;
}

img.thinking {
   padding: 25px 30px;
}

.picture-block {
   max-width: 900px;
   margin: 0 0 0 auto;
}

.picture-block_2 {
   height: 300px;
   overflow: scroll;
   max-width: 900px;
   margin: 30px;
   padding: 0 50px;
}

.flying-plate {
   width: 50%;
   padding: 0 50px;
}

img.little-green-men {
   width: 40%;
}

.green-head {
   padding: 0 40% 1% 30%;
}

.text-block {
   margin: 0 0 25px 0;
}

footer {
   background-color: darkslategrey;
   height: 40px;
}

p {
   max-width: 1300px;
   text-align: justify;
   padding: 0 0 0 25px;
}

.scroll {
   max-width: 800px;
   height: 300px;
   padding: 0 20px;
   margin: 0 0 30px 70px;
   overflow: auto;
   background-color: aliceblue;
}

footer>a {
   padding: 0 0 0 50px;
}